
API/SCGP_Transportation.Core/bin/Debug/net7.0/SCGP_Transportation.Core.dll
API/SCGP_Transportation.Core/bin/Debug/net7.0/SCGP_Transportation.Core.pdb
API/SCGP_Transportation.Core/obj/Debug/net7.0/ref/SCGP_Transportation.Core.dll
API/SCGP_Transportation.Core/obj/Debug/net7.0/refint/SCGP_Transportation.Core.dll
API/SCGP_Transportation.Core/obj/Debug/net7.0/SCGP_Transportation.Core.dll
API/SCGP_Transportation.Core/obj/Debug/net7.0/SCGP_Transportation.Core.pdb
API/SCGP_Transportation.Repository/bin/Debug/net7.0/SCGP_Transportation.Core.dll
API/SCGP_Transportation.Repository/bin/Debug/net7.0/SCGP_Transportation.Core.pdb
API/SCGP_Transportation.Repository/bin/Debug/net7.0/SCGP_Transportation.Repository.dll
API/SCGP_Transportation.Repository/bin/Debug/net7.0/SCGP_Transportation.Repository.pdb
API/SCGP_Transportation.Repository/obj/Debug/net7.0/SCGP_Transportation.Repository.csproj.AssemblyReference.cache
API/SCGP_Transportation.Repository/obj/Debug/net7.0/SCGP_Transportation.Repository.dll
API/SCGP_Transportation.Repository/obj/Debug/net7.0/SCGP_Transportation.Repository.pdb
API/SCGP_Transportation.Service/bin/Debug/net7.0/SCGP_Transportation.Core.dll
API/SCGP_Transportation.Service/bin/Debug/net7.0/SCGP_Transportation.Core.pdb
API/SCGP_Transportation.Service/bin/Debug/net7.0/SCGP_Transportation.Repository.dll
API/SCGP_Transportation.Service/bin/Debug/net7.0/SCGP_Transportation.Repository.pdb
API/SCGP_Transportation.Service/bin/Debug/net7.0/SCGP_Transportation.Service.dll
API/SCGP_Transportation.Service/bin/Debug/net7.0/SCGP_Transportation.Service.pdb
API/SCGP_Transportation.Service/obj/Debug/net7.0/SCGP_Transportation.Service.csproj.AssemblyReference.cache
API/SCGP_Transportation.Service/obj/Debug/net7.0/SCGP_Transportation.Service.dll
API/SCGP_Transportation.Service/obj/Debug/net7.0/SCGP_Transportation.Service.pdb
API/SCGP_Transportation/bin/Debug/net7.0/SCGP_Transportation.Core.dll
API/SCGP_Transportation/bin/Debug/net7.0/SCGP_Transportation.Core.pdb
API/SCGP_Transportation/bin/Debug/net7.0/SCGP_Transportation.dll
API/SCGP_Transportation/bin/Debug/net7.0/SCGP_Transportation.pdb
API/SCGP_Transportation/bin/Debug/net7.0/SCGP_Transportation.Repository.dll
API/SCGP_Transportation/bin/Debug/net7.0/SCGP_Transportation.Repository.pdb
API/SCGP_Transportation/bin/Debug/net7.0/SCGP_Transportation.Service.dll
API/SCGP_Transportation/bin/Debug/net7.0/SCGP_Transportation.Service.pdb
API/SCGP_Transportation/obj/Debug/net7.0/project.razor.json
API/SCGP_Transportation/obj/Debug/net7.0/ref/SCGP_Transportation.dll
API/SCGP_Transportation/obj/Debug/net7.0/refint/SCGP_Transportation.dll
API/SCGP_Transportation/obj/Debug/net7.0/SCGP_Transportation.csproj.AssemblyReference.cache
API/SCGP_Transportation/obj/Debug/net7.0/SCGP_Transportation.dll
API/SCGP_Transportation/obj/Debug/net7.0/SCGP_Transportation.pdb
