<!-- Main content -->
<section class="content">
  <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row image-container">
        <img src="assets/img/transportation_login_bg.jpg" width="100%">
        <div class="text-centered">
          <p class="h3"><strong>Welcome To</strong></p>
          <p class="h1"><strong><u>Transportation Safety Platform</u></strong></p>
        </div>
      </div>
      <!-- /.row -->
  </div>
  <!-- Main row -->
</section>
<!-- /.content -->
